services:
  location-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: location_server # <--- Nome exato da pasta do módulo
    container_name: location-server
    env_file:
      - .env
    environment:
      - PORT=${LOCATION_PORT}
    networks:
      - ss-network

  datacenter:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: datacenter # <--- Nome exato da pasta do módulo
    container_name: datacenter
    env_file:
      - .env
    environment:
      - LOCATION_HOST=location-server
    depends_on:
      - location-server
    networks:
      - ss-network

  edge-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: edge_server # <--- Nome exato da pasta do módulo
    container_name: edge-server
    env_file:
      - .env
    environment:
      - LOCATION_HOST=location-server
    depends_on:
      - location-server
      - datacenter
    networks:
      - ss-network

  poste:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: poste
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Poste
      - LOCATION_HOST=location-server
    depends_on:
      - edge-server
    networks:
      - ss-network

  semaforo:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: semaforo
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Semáforo
      - LOCATION_HOST=location-server
    depends_on:
      - edge-server
    networks:
      - ss-network

networks:
  ss-network:
    driver: bridge
