services:
  location-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: location_server # <--- Nome exato da pasta do módulo
    container_name: location-server
    env_file:
      - .env
    environment:
      - PORT=${LOCATION_PORT}
    networks:
      - ss-network

  auth-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: auth_server # <--- Nome exato da pasta do módulo
    container_name: auth-server
    env_file:
      - .env
    environment:
      - LOCATION_HOST=location-server
    depends_on:
      - location-server
    networks:
      - ss-network

  datacenter:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: datacenter # <--- Nome exato da pasta do módulo
    container_name: datacenter
    env_file:
      - .env
    environment:
      - LOCATION_HOST=location-server
    ports:
      - "8480:8480"
    depends_on:
      - location-server
    networks:
      - ss-network

  edge-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: edge_server # <--- Nome exato da pasta do módulo
    container_name: edge-server
    env_file:
      - .env
    environment:
      - LOCATION_HOST=location-server
    depends_on:
      - datacenter
    networks:
      - ss-network

  sensor:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: sensor
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Sensor
      - LOCATION_HOST=location-server
      - IDENTIFIER=sensor-a
      - SECRET=sensor123
    depends_on:
      - edge-server
    networks:
      - ss-network

  poste:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: poste
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Poste
      - LOCATION_HOST=location-server
      - IDENTIFIER=post-a
      - SECRET=post123
    depends_on:
      - edge-server
    networks:
      - ss-network

  semaforo:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: semaforo
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Semáforo
      - LOCATION_HOST=location-server
      - IDENTIFIER=semaphor-a
      - SECRET=semaphor123
    depends_on:
      - edge-server
    networks:
      - ss-network

  toten:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: toten
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Toten
      - LOCATION_HOST=location-server
      - IDENTIFIER=toten-a
      - SECRET=toten123
    depends_on:
      - edge-server
    networks:
      - ss-network

  invalid-device:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: invalid-device
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Semáforo
      - LOCATION_HOST=location-server
      - IDENTIFIER=invalid-device-a
      - SECRET=invalid-device123
    depends_on:
      - edge-server
    networks:
      - ss-network

  browser:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: client # <--- Nome exato da pasta do módulo
    container_name: browser
    env_file:
      - .env
    environment:
      - CLIENT_NAME=Browser
      - LOCATION_HOST=location-server
      - IDENTIFIER=browser-a
      - SECRET=browser123
    depends_on:
      - datacenter
    networks:
      - ss-network

networks:
  ss-network:
    driver: bridge
