services:
  location-server-intranet:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: location_server # <--- Nome exato da pasta do módulo
    container_name: location-server-intranet
    env_file:
      - .env
    environment:
      - PORT=${LOCATION_PORT}
    networks:
      - intranet

  location-server-internet:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: location_server # <--- Nome exato da pasta do módulo
    container_name: location-server-internet
    env_file:
      - .env
    environment:
      - PORT=${LOCATION_PORT}
    networks:
      - internet

  auth-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: auth_server # <--- Nome exato da pasta do módulo
    container_name: auth-server
    env_file:
      - .env
    environment:
      - LOCATION_HOST=location-server-intranet
    depends_on:
      - location-server-intranet
    networks:
      - intranet

  datacenter:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: datacenter # <--- Nome exato da pasta do módulo
    container_name: datacenter
    env_file:
      - .env
    environment:
      - LOCATION_HOST=location-server-intranet
    ports:
      - "8480:8480"
    depends_on:
      - location-server-intranet
    networks:
      - intranet

  edge-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: edge_server # <--- Nome exato da pasta do módulo
    container_name: edge-server
    env_file:
      - .env
    environment:
      - LOCATION_HOST=location-server-intranet
    depends_on:
      - datacenter
    networks:
      - intranet

  intrusion-detector:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: intrusion_detector # <--- Nome exato da pasta do módulo
    container_name: intrusion-detector
    env_file:
      - .env
    environment:
      - LOCATION_HOST=location-server-intranet
    depends_on:
      - datacenter
    networks:
      - intranet

  gateway:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: gateway # <--- Nome exato da pasta do módulo
    container_name: gateway
    env_file:
      - .env
    environment:
      - LOCATION_INTRANET_HOST=location-server-intranet
      - LOCATION_INTERNET_HOST=location-server-internet
    depends_on:
      - auth-server
      - edge-server
      - intrusion-detector
    networks:
      - intranet
      - internet

  sensor:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: sensor
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Sensor
      - INTRUDER=false
      - LOCATION_HOST=location-server-internet
      - IDENTIFIER=sensor-a
      - SECRET=sensor123
    depends_on:
      - gateway
    networks:
      - internet

  poste:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: poste
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Poste
      - INTRUDER=false
      - LOCATION_HOST=location-server-internet
      - IDENTIFIER=post-a
      - SECRET=post123
    depends_on:
      - gateway
    networks:
      - internet

  semaforo:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: semaforo
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Semáforo
      - INTRUDER=false
      - LOCATION_HOST=location-server-internet
      - IDENTIFIER=semaphor-a
      - SECRET=semaphor123
    depends_on:
      - gateway
    networks:
      - internet

  toten:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: toten
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Toten
      - INTRUDER=false
      - LOCATION_HOST=location-server-internet
      - IDENTIFIER=toten-a
      - SECRET=toten123
    depends_on:
      - gateway
    networks:
      - internet

  intruder:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: device # <--- Nome exato da pasta do módulo
    container_name: intruder
    env_file:
      - .env
    environment:
      - DEVICE_NAME=Intruso
      - INTRUDER=true
      - LOCATION_HOST=location-server-internet
      - IDENTIFIER=intruder-a
      - SECRET=intruder123
    depends_on:
      - gateway
    networks:
      - internet

  browser:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_NAME: client # <--- Nome exato da pasta do módulo
    container_name: browser
    env_file:
      - .env
    environment:
      - CLIENT_NAME=Browser
      - LOCATION_HOST=location-server-internet
      - IDENTIFIER=browser-a
      - SECRET=browser123
    depends_on:
      - gateway
    networks:
      - internet

networks:
  intranet:
    driver: bridge
  internet:
    driver: bridge
